$base-dark: #2e2e2e;
$bg-thumb: rgba(0,0,0, 0.4);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  background: $base-dark;
  position: fixed;
  width: 100%;
  top: 0;

  a {
    margin: auto 0;
    padding: 5px 15px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  button {
    background: $base-dark;
    border: none;
  }
}

/* off canvas */
#hamburger {
  padding: 16px;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

#drawer {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  transform: translate(-250px, 0);
  transition: transform .3s ease-in-out;
  background: $base-dark;
  z-index: 100;

  ul {
    list-style-type: none;
    padding: 30px 16px;

    li {
      padding: 10px 0;

      a {
        text-decoration: none;
        font-size: 30px;
        color: white;

        &:hover {
          opacity: .7;
        }
      }
    }
  }
}

#drawer.open {
  transform: translate(0, 0);
}

main {
  margin-top: 60px;
  flex: 1;

  .hero {
    position: relative;
    z-index: -1;

    img {
      width: 100%;
      height: 300px;
      max-height: 55vh;
      object-fit: cover;
      object-position: 50% 100%;
      display: block;
      filter: blur(2px);
      -webkit-filter: blur(2px);
    }

    .hero-thumb {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      padding: 20px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      background: $bg-thumb;
      color: white;
      border: 3px solid #f1f1f1;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }

  h2 {
    text-align: center;
    margin-top: 30px;
  }

  #query {
    width: 70%;
    display: flex;
    margin: 5px auto;
    padding: 0 20px;
    min-height: 44px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 20px;
  }

  .restaurant-result-container {
    display: grid;
    margin: 20px;
    padding: 0 30px;

    .card-item {
      margin: 10px;
      box-shadow: -4px 4px 8px 2px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      overflow: hidden;
      
      .card-head {
        position: relative;
        z-index: -1;
        max-height: 200px;
        
        p {
          position: absolute;
          padding: 4px 8px;
          margin-top: 10px;
          background: #eaeaea;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
        }

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }
    }

    .card-desc {
      padding: 12px;

      .rating {
        color: #333;
        font-weight: bold;
        margin-top: -8px;
        margin-bottom: 8px;
      }

      .title {
        a {
          font-size: 22px;
          padding: 8px 0;
          color: inherit;
          text-decoration: none;

          &:hover, &:active {
            text-decoration: underline;
            opacity: .7;
          }
        }
      }

      .desc {
        font-size: .9rem;
        padding-top: 5px;
      }
    }

    .restaurant-item__not__found {
      h1 {
        margin-top: 50px;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
      }
    }
  }

  /* detail */
  .jumbotron-detail {
    margin-top: 15px;
    position: relative;
    z-index: -1;
    
    img {
      width: 100%;
      height: 300px;
      max-height: 70vh;
      object-fit: cover;
      display: block;
    }

    .jumbotron-thumb {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 25px;
      text-align: center;
      background: $bg-thumb;
      color: #f1f1f1;
      text-shadow: 1px 1px 1px black;
      transform: translate(-50%, -50%);
      padding-top: 30px
    }
  }

  .restaurant-info {
    padding: 10px 40px;

    section {
      margin-top: 25px;

      h3 {
        font-size: 28px;
        padding-bottom: 5px;
      }
    }

    .restaurant-menu {
      .menu-detail {
        padding-bottom: 14px;
        
        .menu-container {
          margin-bottom: 35px;

          h4 {
            padding: 3px 5px;
            background-color: $base-dark;
            color: #eaeaea;
            border-radius: 3px;
          }

          .menu-list {
            list-style-type: none;

            .menu-item {
              padding: 2px 5px;
              border-bottom: 1px solid $base-dark;
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .review-container {
      display: grid;

      .review-item {
        padding: 10px 15px;
        margin-bottom: 20px;
        border-top: 5px solid $base-dark;
        border-right: 5px solid $base-dark;
        box-shadow: -4px 4px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        overflow: hidden;

        .review-date {
          margin-top: 4px;
          font-size: 12px;
          color: #333;
        }
      }  
    }

    .review-form {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 16px;
      background: #eaeaea;
      box-shadow: -4px 4px 8px 2px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      padding: 40px 28px;

      .review-form-group {
        display: flex;
        flex-direction: column;

        .review-form label {
          font-weight: 600;
          margin-bottom: 8px;
        }

        .review-form-group input:-webkit-autofill {
          box-shadow: 0 0 0 100px white inset;
        }

        .review-form-input-name {
          font-family: 'Poppins', sans-serif;
          border: none;
          border-radius: 4px;
          font-size: 16px;
          padding: 10px;
        }

        .review-form-input-review {
          font-family: 'Poppins', sans-serif;
          border: none;
          border-radius: 4px;
          font-size: 14px;
          padding: 6px 10px;
          resize: none;
        }
      }

      .review-form-submit {
        background-color: $base-dark;
        border: none;
        border-radius: 4px;
        color: #f1f1f1;
        font-size: 14px;
        min-height: 44px;
        transition: transform ease-in-out 0.2s;
        width: 128px;

        &:hover, &:active {
          transform: scale(1.1);
        }
      }
    }
  }

  /* page error */
  .content-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 300px;
    height: 70vh;
  
    h1 {
      font-size: 20px;
      font-weight: 800;
      text-align: center;
    }
  
    p {
      font-size: 16px;
      text-align: center;
      font-weight: 300;
    }
  }
}

/* loading */
.loading-indicator-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.loading-indicator {
  animation: 1s linear infinite spinner;
  animation-play-state: inherit;
  border: 10px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top: 10px solid #f1f1f1;
  border-right: 10px solid #f1f1f1;
  border-bottom: 10px solid #f1f1f1;
  height: 80px;
  width: 80px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  z-index: 3;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

/* Like */
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

footer {
  padding: 25px;
  text-align: center;
  color: #eee;
  background-color: $base-dark;
}