@media screen and (min-width: 500px) {
  main {
    /* detail */
    .jumbotron-detail {
      .jumbotron-thumb {

        padding-top: 75px;
        font-size: 30px;
      }
    }

    .restaurant-info {
      padding: 10px 60px;
    }
  }
}

@media screen and (min-width: 650px) {
  main {
    .hero {
      .hero-thumb {
        width: 50%;
        font-size: 35px;
      }
    }
  
    .posts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }
  }
}

@media screen and (min-width: 850px) {
  /* off canvas */
  #hamburger {
    display: none;
  }
  
  #drawer {
    width: 100%;
    position: relative;
    transform: translate(0, 0);
    padding: 16px;
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;
      padding: 0;

      li {
        padding: 5px 15px;
      }
    }
  }

  main {
    h2 {
      margin-top: 70px;
    }

    /* detail */
    .restaurant-menu {
      .menu-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
      }
    }

    .restaurant-review {
      .review-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  main {
    .hero {
      img {
        min-width: 1000px;
      }
    }
  
    .posts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}